 <!-- start contact-info-section --------------------------------------- -->
 <section class="contact-info" data-aos-easing="linear"
 data-aos-duration="300" 
   data-aos-delay="200" data-aos="fade-up" >
   <div class="container-fluid ">
     <div class="row justify-content-between">
       <div class="col-lg-4 content">
         <div class="contact-info-content">
           <h2>Contacts</h2>
           <ul class=" p-0">
             <li>+213 542147570</li>
             <li><a href="">contact@avnology.com</a></li>
             <li>Sunday - Monday 10am - 5pm</li>
             <li>21th street Djeddah, Saudi Arabia</li>
           </ul>

          <div class="green-btn">
            <a href="" class="btn-with-brdr">Book</a>
          </div>
       
         </div>
       </div>

       <div class="col-lg-5 img">
         <div class="contact-info-img w-100  pt-5 pb-5 d-flex flex-column align-items-center justify-content-center">
           
          <img src="../../../../assets/images/map-frame.png" alt="" class="w-100">
           <img src="../../../../assets/images/contact-map.png" alt="" class="w-75 map-img" >
  
         </div>
       </div>
     </div>
   </div>
 </section>
