<section class="about-us" data-aos-easing="linear"
data-aos-duration="300" 
  data-aos-delay="200" data-aos="fade-up" >
  <div class="container-fluid">
   <div class="row align-items-center">
    <div class="col-lg-4">
      <div class="about-img w-100">
        <img src="../../../../assets/images/about-img.png" alt="" class="w-100">
      </div>
    </div>
    <div class="col-lg-5"  >
      <div class="about-content">
        <h2>About us</h2>
        <p data-aos-easing="linear"
        data-aos-duration="300" 
          data-aos-delay="200" data-aos="zoom-in" >
          Lorem ipsum dolor sit amet consectetur. Semper sapien erat et ultrices pellentesque. 
          Congue turpis quis gravida mauris pellentesque integer ac. Porttitor tortor semper nulla arcu aliquam.
           Dictumst lacus sed enim pellentesque sit. Volutpat leo pulvinar nullam semper nullam sed sed.
            Semper lectus consectetur aenean ac sit eu dolor. Aliquam velit nunc etiam lacus. Tellus rhoncus
             orci at nibh hendrerit. Eget scelerisque iaculis vestibulum in ac vivamus. Vestibulum parturient magna vitae adipiscing.
           Posuere diam neque tempor orci sit. Vel vitae nisl tortor leo diam id viverra arcu.
        </p>
      </div>
    </div>
   </div>
  </div>
  <div class="about-txt">
    <img src="../../../../assets/images/About us.png" alt="">
  </div>

  <div class="mob-txt d-none w-100">
    <img src="../../../../assets/images/About-us-mob.png" alt="">
  </div>
</section>

