<!-- --------our-product section------ -->
<section class="our-product" id="our-products" data-aos-easing="linear"
data-aos-duration="300" 
  data-aos-delay="200" data-aos="fade-up" >
        
        <div class="container ">
            <h2 class="text-center  ">Our products  </h2>
            

            <div class ="row justify-content-center align-items-center"  >
        <div class="col-lg-4 " >
            <div class="">
            <img src="../../../../assets/images/Rectangle 25.png" class="w-100">
        </div>


        </div> 
        <div class="col-lg-5 "  >
            <div class=" content-product  " >
     
         <h3 class="">BATHROBE</h3>

                <p class="p-product ">Lorem ipsum dolor sit amet consectetur. Mattis pellentesque ipsum id vitae
                    pulvinar viverra. Ut neque nam purus magna.</p>
                    <div class="_360-r-s">360 R.S.</div>
              
                      <!-- <div class="buton w-25 mt-3">
                       <a href=""><img src="../../../../assets/images/product-btn1.png" alt="" class=""></a>
                      </div> -->
                      <div class="brown-btn">
                      <a href="" class="btn-with-brdr">Buy now</a>
                     </div>
                      </div>

               </div> 


           
            </div>
        </div>
        <div class="container ">
       
        <div class ="row  mt-3 sec-row"  >
           
            <div class="col-lg-5   d-flex flex-column justify-content-center"  >
                <div class=" content-product   " >
                    
                 <h3 class="">BATHROBE</h3>
    
                    <p class="p-product pe-5 ">Lorem ipsum dolor sit amet consectetur. Mattis pellentesque ipsum id vitae
                        pulvinar viverra. Ut neque nam purus magna.</p>
                        <div class="_360-r-s">360 R.S.</div>
                  

                          <!-- <div class="buton w-25 mt-3">
                           <a href=""><img src="../../../../assets/images/product-btn2.png" alt="" class=""></a>
                          </div> -->
                          <div class="green-btn">
                            <a href="" class="btn-with-brdr">Buy now</a>
                          </div>
                         
                         </div>
    
                   </div> 

                   <div class="col-lg-4 " >
                    <div class="">
                    <img src="../../../../assets/images/Rectangle 26.png" class="w-100 ">
                </div>
        
        
                </div> 

                </div>
                </div>
        
                <div class="container ">
                   
             <div class ="row justify-content-center align-items-center"  >
                <div class="col-lg-4 " >
                    <div class="">
                    <img src="../../../../assets/images/Rectangle 27.png" class="w-100">
                </div>
        
        
                </div> 
                <div class="col-lg-5 "  >
                    <div class=" content-product " >
                        
                     <h3 class="">BATHROBE</h3>
        
                        <p class="p-product ">Lorem ipsum dolor sit amet consectetur. Mattis pellentesque ipsum id vitae
                            pulvinar viverra. Ut neque nam purus magna.</p>
                            <div class="_360-r-s">360 R.S.</div>
                          
                              <div class="pink-btn">
                               <a href="" class="btn-with-brdr ">Buy now</a>
                              </div>
                              </div>
        
                       </div> 
        
        
                    
                    </div>
                </div>        
        
    
      </section>
  
