<!-- start banner-section ----------------------------------------------------------- -->
<div class="banner" id="banner">
    <div class=" container banner-container">
      
      
    <app-navbar></app-navbar>
  
    
      <div class="banner-content  "  data-aos-easing="linear"
      data-aos-duration="300" 
        data-aos-delay="200" data-aos="fade-up" >
        <div class="txt">
          <h1>
            Votre beauté, <br> notre passion
  
        </h1>
      
          <img src="assets/images/Star 2.png" alt="">
        </div>
  
        <div class="arrow-img">
          <img src="assets/images/line.png" alt="">
        </div>
     
  
          <div class="butn w-75 ">
            <a href="" class="btn-with-brdr ">Book now</a>
          </div>
        
     
      </div>
  
      <div class="img-group ">
        <img src="assets/images/img-banner-group.png" alt="" class="">
      </div>
     
      <div class="banner-img ">
        <img src="assets/images/banner-img.png" alt="">
      </div>
    </div>
    <div class="star">
      <img src="assets/images/Star 1.png" alt="">
    </div>
    <div class="white-space"></div>
  </div>
