<nav class="navbar navbar-expand-lg  " id="navbar"  [class.header_change]="header_variable">
    <div class=" container  ">
      <a class="navbar-brand" href="#"><img src="assets/images/rare-logo.png" alt="" class="w-50"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
       data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" 
       aria-expanded="false" aria-label="Toggle navigation">
       <i class="fa-solid fa-bars  navbar-toggler-icon"></i>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/products-page">Products </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href=""> Reviews </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#our-work"> Work </a>
          </li>

        </ul>



<a class="btn-with-brdr"> Appointment</a>
      
      
      </div>
    </div>
  </nav>
