<!-- start product-banner ---------------- -->
<div class="product-banner">
    <div class="container  h-100">

    
    <app-navbar></app-navbar>
 
  <div class="content ">
   <div class="row justify-content-center  ">
    <div class="heading">
        <h1 class="text-center">Rare products</h1>
    
       </div>
    <div class="col-lg-6 ">
      <div class="search">
          <form action="">
              <div class="form-group ">
                <label for="" class="text-white">Search</label>
                <input type="search" class="form-control" placeholder="Touch" >
              </div>
          </form>
  
          </div>
      </div></div>

    </div></div>
</div>
