
<!-- start product-details-section -------------- -->
<section class="product-details">
<div class="container">
    <div class="row ">
        <div class="col-lg-3">
            <img src="../../../../assets/images/product-img.png" alt="" class="w-100">

            <div class="small-imgs d-flex mt-3">
                 <img src="../../../../assets/images/small-img.png" alt="" class="w-25 me-2">
                 <img src="../../../../assets/images/small-img.png" alt="" class="w-25 me-2">
                 <img src="../../../../assets/images/small-img.png" alt="" class="w-25 me-2">
            </div>
        </div>

        <div class="col-lg-4">
            <div class="content">
                <h3>bathrobe</h3>
                <p>Lorem ipsum dolor sit amet consectetur. Mattis pellentesque ipsum 
                    id vitae pulvinar viverra. Ut neque nam purus magna.</p>

                    <h4>360 R.S.</h4>

                    <a href="" class="btn-with-brdr">Buy now</a>
            </div>
        </div>
    </div>
</div>
</section>