<!-- start contact-us-section ---------------------- -->
<section class="contact-us" data-aos-easing="linear"
  data-aos-duration="300" 
    data-aos-delay="200" data-aos="fade-up" >
    <div class="container">
      <div class="contact-container">
        <div class="transperent-div"></div>
        <div class="box d-flex justify-content-between ">
              <div class="contact-img">
                <img src="../../../../assets/images/contact-us-img.png" alt="">
              </div>

              <div class="contact-content ">
                <div class="txt  ">
                  <p>Visit us <br> You won’t regret it</p>
                  <img src="../../../../assets/images/Star 4.png" alt="">

                 
                </div>
             
                <div class="white-btn">
                  <a href="" class="btn-with-brdr">Book</a>
                </div>


        </div>

      </div>
      </div>
    </div>
  </section>
